---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Портфолио Frontend разработчика</title>
	</head>
	<body>
		<div class="flex flex-col justify-center items-center mx-auto bg-[url('/background-attachment-css-1071938900.jpg')]">
			<header class="flex justify-between">
				<img src="/logo.png" class="w-[80px] h-[80px] m-4 absolute left-0"/>
				<h1 class="flex m-8 text-white font-bold text-6xl">Василий Смирнов</h1>
					<ul class="flex m-4 absolute right-0">
						<li class="m-2"><img src="/icons8-mail-50.png" alt="mail"/></li>
						<li class="m-2"><img src="/icons8-telegram-app-50.png" alt="telegram"/></li>
						<li class="m-2"><img src="/icons8-vk-50.png" alt="vkontakte"/></li>
					</ul>
			</header>
			<div class="flex flex-col justify-end m-8">
				<h1 class="flex justify-center mt-8 text-white text-4xl ">Обо мне</h1>
				<div class="flex justify-center">
					<img class="flex px-16" src="/my.png" alt="avatar"/>
					<p class="text-white w-[600px] mt-32">
						    Мне 36 лет. В 2020 году закончил курсы "Fullstuck JavaScript разработчик" на GeekBrains.
						С самого детства мечтал работать программистом. Осваивал во время учебы в школе и техникуме разные языки программирования, начиная с Pascal.
						После обучения участвовал в нескольких стажировках, которые не увенчались успехом.
						Одной из самых главнх причин смены профессии, является семейной положение. Я многодетный отец. У меня трое замечательных сыновей и лучшая жена.
						Живем мы  в славном рабочем поселке Петровское, в котором нет работы по моей основной профессии "Ремонт и обслуживание персональных компьютеров и компьютерных сетей".
						Сейчас я работаю в городе Ярославле специалистом по подключению в крупном холдинге.
						Увлекаюсь моделированием кораблей...
					</p>
				</div>
			</div>
			<div class="flex flex-col mt-8 max-w-4xl">
				<h1 class="flex justify-center text-white text-4xl">Мои работы</h1>
				<div class="flex flex-col justify-center">
					<h3 class="text-white">Ava</h3>
					<span class="text-white">цифровой маркетинг, креативный дизайн</span>
					<img src="/src/images/Ava.jpg" /> 
					<button class="text-white">
						<a href="ava">Открыть страницу</a>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>