<div class="flex mt-3.5">
    <img src="/src/images/AvaHeader/logo.png" alt="logo"/>
    <nav class="">
        <ul class="flex">
            <li>HOME</li>
            <li>ABOUT</li>
            <li>PRICING</li>
            <li>BLOG</li>
            <li>FAQ</li>
            <li>CONTACT</li>
        </ul>        
    </nav>
    <button>Purchase template</button>
</div>